@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap");

body {
  min-height: 100%;
  font-family: "Oswald";
}

h1 {
  font-size: 32px;
}

p {
  font-size: 24px;
}
